<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" [
<!ENTITY contextInclude SYSTEM "org/springframework/web/context/WEB-INF/contextInclude.xml">
]>

<beans>

	<!-- user模块 -->
	<bean id="userController" class="com.web.controller.UserController">
		<property name="userService" ref="userService"></property>
		<property name="userDao" ref="userDao"></property>
		<property name="roleDao" ref="roleDao"></property>
	</bean>
	
	<bean id="userService" class="com.web.serviceimpl.UserService">
		<property name="userDao" ref="userDao"></property>
		<property name="objNumber" ref="objNumber"></property>
	</bean>
	
	<bean id="userDao" parent="transactionProxy">  
	    <property name="target">
	    	<bean class="com.web.daoimpl.UserDAO">
				<property name="sessionFactory" ref="sessionFactory"></property>
			</bean>
	    </property>  
	</bean>
	
	<bean id="objNumber" parent="transactionProxy">  
	    <property name="target">
	    	<bean class="com.web.daoimpl.ObjNumber">
				<property name="sessionFactory" ref="sessionFactory"></property>
			</bean>
	    </property>  
	</bean>
	
	<!-- module模块 -->
	<bean id="moduleController" class="com.web.controller.ModuleController">
		<property name="moduleService" ref="moduleService"></property>
		<property name="moduleDao" ref="moduleDao"></property>
	</bean>
	
	<bean id="moduleService" class="com.web.serviceimpl.ModuleService">
		<property name="moduleDao" ref="moduleDao"></property>
		<property name="objNumber" ref="objNumber"></property>
	</bean>
	
	<bean id="moduleDao" parent="transactionProxy">  
	    <property name="target">
	    	<bean class="com.web.daoimpl.ModuleDAO">
				<property name="sessionFactory" ref="sessionFactory"></property>
			</bean>
	    </property>  
	</bean>
	
	<!-- role模块 Role-->
	<bean id="roleController" class="com.web.controller.RoleController">
		<property name="roleService" ref="roleService"></property>
		<property name="roleDao" ref="roleDao"></property>
	</bean>
	
	<bean id="roleService" class="com.web.serviceimpl.RoleService">
		<property name="roleDao" ref="roleDao"></property>
		<property name="moduleDao" ref="moduleDao"></property>
		<property name="objNumber" ref="objNumber"></property>
	</bean>
	
	<bean id="roleDao" parent="transactionProxy">  
	    <property name="target">
	    	<bean class="com.web.daoimpl.RoleDAO">
				<property name="sessionFactory" ref="sessionFactory"></property>
			</bean>
	    </property>  
	</bean>
	 
</beans>
