<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.web.entity.User"/>
        <mapping class="com.web.entity.Role"/>
        <mapping class="com.web.entity.Module"/>
    </session-factory>
</hibernate-configuration>